/* Page */
html {
    background-color: peachpuff;
}
body {
    margin: 2.5%;
    width: 95%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

/* Header */
h1 {
    margin: 1% 0 1% 0;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    color: #2A1B0E;
    text-transform: uppercase;
}
#h2tagline {
    margin: 1% 0 1% 0;
    font-family: Verdana, Tahoma, sans-serif;
    color: #2A1B0E;
}

/* Intro Section */
#introsection {
    flex-direction: column;
}

/* Ingredient Section */
.section2half {
    display: flex;
    width: 50%;
    flex-direction: column;
} 
#i_ul {
    columns: 2;
}
#i_ul1 {
    margin-bottom: 2.5%;
}

/* Step Section */
#stepsection {
    flex-direction: column;
}
#steptitle {
    margin: 1% 0 0 0;
}
#sbody {
    display: flex;
}
.section3rd {
    width: 33%;
}

/* Tags (multiple tag use) */
section {
    width: 75%;
    display: flex;
    border-top: solid black 1px;
    align-self: center;
}
h2 {
    text-align: center;
    margin: 2.5% 0 2.5% 0;
    font-family: Verdana, Tahoma, sans-serif;
    color: #2A1B0E;
}
h3 {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    color: #2A1B0E;
}
ul {
    margin: 0;
 }

p {
    font-family: Verdana, Tahoma, sans-serif;
    color: #2A1B0E;
    font-weight: 500;
 }

li {
    font-family: Verdana, Tahoma, sans-serif;
    color: #2A1B0E;
    font-weight: 500;
 }

a {
    color: black;
    font-weight: bold;
}