<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link href="https://aholtzer.github.io/CSIT-121/FinalProject/styles/utility.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://aholtzer.github.io/CSIT-121/FinalProject/styles/aboutme.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div id="navlogo"><!-- When I need it <h3>Logo</h3>--></div>
            <div id="navbarbox">
                <ul id="navbar">
                    <li class="navitem"><a class="navlink" href="https://aholtzer.github.io/CSIT-121/FinalProject/index.html">Home</a></li>
                    <li class="navitem"><a class="navlink" href="projects.html">Projects</a></li>
                    <li class="navitem"><a class="navlink"  href="aboutme.html">About</a></li>
                    <li class="navitem"><a class="navlink" href="contactme.html">Contact</a></li>
                </ul>
            </div>
         </nav>
         <div id="aboutmecontainer">
            <div id="photobox">
                <img id="selfportrait" alt="selfportrait" src="https://aholtzer.github.io/CSIT-121/FinalProject/media/lax.jpeg">
            </div>
            <div id="abinformation">
                <h2>About ElectricLensMedia</h2>
                <p>ElectricLensMedia is is a creative photagraphy company that serves the greater DMV area.</p>
                <p>Our goal is to make our customers dreams come true througgh photogrpahy. We offer high-quality photos for what ever your needs are.
                        This includes Headshots, Sports/Action shots, Wedding photos, Event phtotos, and many more!  
                </p>
                <p>View some of our projects below.</p>
                <a href="https://aholtzer.github.io/CSIT-121/FinalProject/views/projects.html">Projects</a> 
            </div>
        </div>
        <footer>
            <div>
                <ul id="socialslist">
                    <li class="socialitem"><a class="fa fa-2x fa-instagram" href="https://www.instagram.com/electric_lens_media/"></a></li>
                    <li class="socialitem"><a class="fa fa-2x fa-envelope" href="mailto:electriclensmedia@gmail.com"></a></li>
                </ul>
            </div>
            <div>
                <ul id="footerlist">
                    <li class="footeritem">ElectricLensMedia LLC &#169; 2023</li>
                    <li class="footeritem">|</li>
                    <li class="footeritem"><a class="footerlink" href="https://developer.moneris.com/More/Compliance/Sample%20Privacy%20Policy" target="_blank">Private Policy</a></li>
                    <li class="footeritem">|</li>
                    <li class="footeritem"><a class="footerlink" href="mailto:electriclensmedia@gmail.com">electriclensmedia@gmail.com</a></li>
                </ul>
            </div>
         </footer>
    </body>
</html>
